body {
    font-family: 'Kalam', cursive;
    background: #f1fffa;
}

.icon-top {
    background: #2a9134;
}

.icon-top a {
    color: #f1fffa;
    font-size: 25px;
    transition: color 1s ease;
}

.icon-top a:hover {
    color: #242424;

}